################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/service/v16
/service/Debug
*.pdb
*.exe
/service/Release
